# Copyright 2025 Advanced Micro Devices, Inc.
#
# Licensed under the Apache License v2.0 with LLVM Exceptions.
# See https://llvm.org/LICENSE.txt for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

name: CI - Regression Tracker

on:
  workflow_dispatch:
  pull_request:
  schedule:
    - cron: "27 22 * * *"


jobs:
  find_regression_commit:
    if: ${{ github.repository_owner == 'nod-ai' || github.event_name != 'schedule' }}
    name: "Find Regression Commit"
    strategy:
      matrix:
        config: [{
                  DEVICE: "GPU",
                  BACKEND: "rocm",
                  runs-on: "linux-mi325-1gpu-ossci-nod-ai",
                  cache_dir: "/home/runner/data/e2eamdshark/amdshark-test-suite-models-cache"
                },
                {
                  DEVICE: "CPU",
                  BACKEND: "llvm-cpu",
                  runs-on: "nodai-cpu-x86-64",
                  cache_dir: "/home/runner/groups/aig_amdsharks/test-suite-ci-cache"
                }]
      fail-fast: false
    runs-on: ${{matrix.config.runs-on}}
    defaults:
      run:
        shell: bash
    env:
      E2E_VENV_DIR: ${{ github.workspace }}/test-suite_venv
      ALT_E2E_VENV_DIR: ${{ github.workspace }}/alt-test-suite_venv
      HF_TOKEN: ${{ secrets.HF_TOKEN }}
      CACHE_DIR: ${{ matrix.cache-dir }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: "Setting up Python"
        id: setup_python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: "3.11"

      - name: Checkout Test Suite
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: nod-ai/AMD-SHARK-TestSuite
          path: test-suite
      - name: "Setup alt e2eamdshark python venv"
        run: |
          rm -rf ${ALT_E2E_VENV_DIR}
          sudo apt update
          sudo apt install wget
          python3 -m venv ${ALT_E2E_VENV_DIR}
          source ${ALT_E2E_VENV_DIR}/bin/activate
          ls
          which python
          python -m pip install --upgrade pip
          python -m pip install -r ./alt_e2eamdshark/base_requirements.txt
          python -m pip install -r ./alt_e2eamdshark/iree_requirements.txt
          python -m pip install --no-deps -r ./alt_e2eamdshark/torch_mlir_requirements.txt
          python -m pip install --pre --upgrade iree-base-compiler iree-base-runtime -f https://iree.dev/pip-release-links.html
        working-directory: ./test-suite

      - name: "Extract regression models"
        run: |
          #TODAY=$(date +%Y-%m-%d)
          git clone https://github.com/iree-org/iree.git
          cd iree
          git submodule update --init
          cmake -G Ninja -B ../iree-build/ -S . \
            -DCMAKE_BUILD_TYPE=RelWithDebInfo \
            -DIREE_ENABLE_ASSERTIONS=ON \
            -DIREE_ENABLE_SPLIT_DWARF=ON \
            -DIREE_ENABLE_THIN_ARCHIVES=ON \
            -DCMAKE_C_COMPILER=clang \
            -DIREE_HIP_TEST_TARGET_CHIP= \
            -DCMAKE_CXX_COMPILER=clang++ \
            -DIREE_BUILD_PYTHON_BINDINGS=ON \
            -DIREE_HAL_DRIVER_HIP=ON -DIREE_TARGET_BACKEND_ROCM=ON \
            -DIREE_ENABLE_LLD=ON \
            -DPYTHON3_EXECUTABLE=$(which python3) ; cmake --build ../iree-build/

          exit 1
          TODAY="2026-01-06"
          pwd
          ls
          REPORT="${TODAY}/ci_reports_onnx/${{ matrix.config.BACKEND }}/combined-reports_unique/yesterday_comparison.md"
          JSON_STATUS="github-actions/model_old_new_status.json"

          python3 github-actions/extract_model_old_new_status_from_md.py $REPORT
          python3 github-actions/extract_regression_model_names.py $JSON_STATUS
          echo "JSON status"
          cat $JSON_STATUS
          echo "Regression models:"
          cat "github-actions/regression_models.txt"

      - name: "Bisect Regression"
        run: |
          echo "================================ in bisect.sh ===================================="
          git clone https://github.com/iree-org/iree.git
          cd iree

          GOOD_COMMIT=$(git tag \
              | grep '^iree-3\.[0-9]\+\.0rc' \
              | sort -V -r \
              | sed -n '3p')
          #GOOD_COMMIT="d6cb40ab4a53612a0e0a720069ddbcc7e56c80a1"
          BAD_COMMIT=$(git rev-parse HEAD)
          #BAD_COMMIT="2775a61d76f3ee80cd20c4bdadc090baafb9f8e4"
          REPORT_DIR="$(pwd)/../"
          while read -r model; do
            echo "==============================="
            echo "Bisecting $model"
            echo "==============================="
            $REPORT_DIR/github-actions/runbisect_for_model.sh "$model" "$GOOD_COMMIT" "$BAD_COMMIT" "${{ matrix.config.DEVICE }}"
          done < $REPORT_DIR/github-actions/regression_models.txt
          cd ..

          echo "============================== exiting bisect.sh ================================="

      - name: "Push Artifacts"
        if: github.event_name == 'schedule'
        run: |
          git fetch origin
          git checkout main
          DEFAULT_BRANCH="main"
          git status
          git branch

          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add regression_model_and_commit_causing_regression.csv
          if git diff --cached --quiet; then
            echo "No changes to commit"
          else
            git commit -m "Update Regression CSV for ($(date +%Y-%m-%d))"
            git push origin "$DEFAULT_BRANCH"
          fi

